<!DOCTYPE html>
<html>
  <head>
    <title>sit722-2023-t2-glossary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content">
    <h1 class="title">SIT722 DevOps Glossary</h1>
    <span class="sub-title">Welcome to my website showing a collection of DevOps terms and their brief description</span>

    <table>
      <tr>
          <th>ID#</th>
          <th>Term</th>
          <th>Description</th>
          <th>References</th>
      </tr>
      <tr>
          <td>1</td>
          <td>Term 1</td>
          <td>Description 1</td>
          <td>Reference 1</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Term 2</td>
          <td>Description 2</td>
          <td>Reference 2</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Term 3</td>
          <td>Description 3</td>
          <td>Reference 3</td>
      </tr>
  </table>
</div>
  </body>
</html>
