<!DOCTYPE html>
<html>

<head>
  <title>sit722-2023-t2-glossary</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="content">
  <h1 class="title">SIT722 DevOps Glossary</h1>
  <span class="sub-title">Welcome to my website showing a collection of DevOps terms and their brief description</span>

    <table>
      <tr>
        <th>ID#</th>
        <th>Term</th>
        <th>Description</th>
        <th>References</th>
      </tr>
      <% data.forEach((item)=> {%>
        <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= item.term %>
          </td>
          <td>
            <%= item.description %>
          </td> 
          <td>
            <%= item.references %>
          </td>
        </tr>
        <% }) %>
    </table>
  </div>
</body>

</html>